#include <windows.h>
#include "version.h"

//
// Version Information resources
//
LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
1 VERSIONINFO
    FILEVERSION     LIB_VERSION
    PRODUCTVERSION  LIB_VERSION
    FILEOS          VOS__WINDOWS32
    FILETYPE        VFT_DLL
    FILESUBTYPE     VFT2_UNKNOWN
    FILEFLAGSMASK   0x00000000
    FILEFLAGS       0x00000000
{
    BLOCK "StringFileInfo"
    {
        BLOCK "00000000"
        {
            VALUE "Comments",        "Tiny DICOM Library for Windows/UNICODE"
            VALUE "CompanyName",     "(C)Copyright 2011-2021 Raphael Kim."
            VALUE "FileDescription", "A DICOM tag read/write library for Windows."
            VALUE "InternalName",    "TINY.DICOM.LIB4GCC.UNICODE"
            VALUE "LegalCopyright",  "(C)Copyright 2011-2021 Raphael Kim."
            VALUE "LegalTrademarks", "(C)Copyright 2011-2021 Raphael Kim."
            VALUE "ProductName",     "Tiny DICOM Library for Windows/UNICODE"
            VALUE "ProductVersion",  LIB_VERSION_STR
        }
    }
    BLOCK "VarFileInfo"
    {
        VALUE "Translation", 0x0000, 0x0000
    }
}
